body {
  text-align: center;
}

.welcome h1{
  color: blue;
  font-family: 'PT Serif', serif;
  padding: 30px;
  font-size: 50px;
  text-shadow: 2px 2px black;
}

.bottom {
  background-color: gold;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
}

.welcome {
  text-align: center;
  background-color: white;
}

.signIn {
  padding-bottom: 40px;
  color: white;
}

form {
  color:white;
}

input {
  color: black;
}
.time {
  display: inline-block;
  font-weight: bold;
}

.what {
  display: inline;
}

.border {
  background-color: #008000;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
  border-radius: 20px;
}

.select {
  font-size: 20px;
  height: 30px;
}

h3 {
  font-size: 40px;
  color:green;
}


.day {
  padding-top: 20px;
  font-size: 20px;
}

.what * {
  vertical-align: middle;
}

.container {
  text-align: center;
}

#saved {
  color: black;
}

#total {
  color: red;

}

#sum {
  color: black;
  text-align: center;
}

#lastSave {
  margin: 20px 20px;

}

#instructions {
  color: black;
  padding: 80px 0;
  font-family: 'PT Sans', sans-serif;
}
